body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-family: Arial;
}
